[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/DuncanmaMSFT/hugo-theme-hello-friend-ng.git
[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/Vimux/blank.git