<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{ if .NextInSection }}
    <link rel="next" href="{{ .NextInSection.RelPermalink }}">{{ end }}
    {{ if .PrevInSection }}
    <link rel="prev" href="{{ .PrevInSection.RelPermalink }}">{{ end }}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author"
        content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
    <meta name="description"
        content="{{ if .IsHome }}{{ .Site.Params.homeSubtitle }}{{ else }}{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary | plainify }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}{{ end }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    {{ if or (eq .Type "tags") (eq .Type "blog")}}<meta name="robots" content="noindex" />{{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ block "title" . }}
    <title>
        {{ if .IsHome }}
        {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }} {{ end }}
        {{ else }}
        {{ .Title }}{{ with $.Params.SectionTitle }}{{if ne $.Params.SectionTitle $.Title}} | {{ . }}{{ end }}{{ end }} | {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
        {{ end }}
    </title>
    {{ end }}
        <!-- MWF stylesheet (required) -->
	<link rel="stylesheet" href="{{ "mwf/css/main.css" | relURL }}">

    <!-- MWF polyfills (required) -->
    <script src="{{ "mwf/js/polyfills.min.js" | relURL }}"></script>

	{{ partial "uhf_css.html" . }}
  <script src="{{ "/js/jquery-3.6.0.slim.min.js" | relURL }}"></script>
	{{ partial "uhf_javascript.html" . }}

	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
    <!--
      If using Back to Top, a reference ID should be on an element at the top of the page within <body> before Universal Header.
      `tabindex="-1" is only required if the element is not focusable by default.
    -->
    <div id="page-top" tabindex="-1"></div>

    <!-- Universal Header HTML -->
	{{ partial "uhf_header.html" . }}

    <!--
      Main page content should be wrapped with semantically meaningful html elements (e.g.: article, main) whenever possible.
      A div element can be used as long as it also contains a role="main" for Accessibility.
      The ID of the main element should match the one set in UHF to generate the skip to main link.
    -->
    <main id="mainContent" class="container">
		{{ block "main" . }}{{ end }}
    </main>

    <!-- Universal Footer HTML -->
	{{ partial "uhf_footer.html" . }}

    <!-- MWF JavaScript (required, include just before </body>) -->
    <script src="{{ "mwf/js/bundle.min.js" | relURL }}"></script>
</body>
</html>
